.panelHeader{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;  
    color: #5096FF;
}

.card{
    max-width: 300px;
    width: 100%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}

.cardIsSelected{
    border-color: #5096ff;
    border-width: 1px;
    
}

.cardIsNotSelected{}

.cardHeader{}

.cardFooter{}

.cardFooterText{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
}